*{
    
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
header {
   background-color: white;
    border:white solid .5px;
    text-align: center;
    
    
    padding: 20px;
    
}
.score-board{
    border: 2px solid;
    width: 200px;
    padding: 25px 25px  ;
    margin: 20px auto ;
    font-size: 30px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.badge{
    background-color: red;
    color: white;
    font-size: 14px;
    padding: 2px 10px ;
    font-family: sans-serif;

}
#user{
    position: absolute;
    top: 35px;
    left: -30px;
}
#comp{
    position: absolute;
    top: 35px;
    right: -30px;
}
.result{
    font-size: 30px;
}
.result p{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

.choices {
    text-align: center;
    margin: 50px 0px ;

}
.choice {
    display: inline-block;
    margin: 0 20px;
   padding: 20px;
   transition: all 0.3s ease;

}
#ii{
 width: 150px;
 height: 150px;
 border-radius: 50%;
 border:2px solid white
}
.choice:hover{
    cursor: pointer;
    background-color: rgb(123, 255, 0);

}
#action-msg{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}
